[submodule "crown/tests/wycheproof/data"]
	path = crown/tests/wycheproof/data
	url = https://github.com/C2SP/wycheproof.git
[submodule "crown/tests/cryptography"]
	path = crown/tests/cryptography
	url = https://github.com/pyca/cryptography.git
