name: check-unittest
on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:
jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: setup env
        run: |
          sudo apt update -y
          sudo apt install build-essential gcc cpp libclang-dev openssl libssl-dev -y
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: install Rust 1.89.0
        uses: dtolnay/rust-toolchain@1.89.0
      - name: run unit tests
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
        run: |
          cargo test --all
          cargo test --no-default-features
          cargo test --no-default-features -F alloc
          cargo test --no-default-features -F std
      - name: check cargo.lock changes
        run: |
          if git diff --exit-code Cargo.lock; then
            echo "✅ Cargo.lock has no changes."
          else
            echo "❌ Cargo.lock has changed!"
            echo "change content:"
            git diff Cargo.lock
            exit 1
          fi
